<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">



	<select id="consult_report_count" parameterType="int"
		resultType="int">
		select count(*) from
		consult_report
		where
		member_no=#{member_no}
	</select>

	<select id="consult_report_list" parameterType="map"
		resultType="approval.dto.ConsultReportDto">
		select v.conreport_no,v.title,m.name,v.reg_date,r
		from
		conreport_view v
		inner join member m on m.member_no=v.member_no
		where r
		between #{start} and #{end} and m.member_no=#{member_no}
	</select>
	
	
	
	
	
	

	<select id="vacation_report_count" parameterType="int"
		resultType="int">
		select count(*) from
		vacation_report
		where
		member_no=#{member_no}
	</select>

	<select id="vacation_report_list" parameterType="map" resultType="approval.dto.VacationReportDto">
		select
		v.vacreport_no,v.type,v.reg_date,m.name,m2.name substitute
		from
		vacreport_view v inner join member m
		on m.member_no=v.member_no inner
		join member m2
		on m2.member_no=v.substitute where r between #{start}
		and #{end} and m.member_no=#{member_no}
	</select>
	
	
	
	
	
	
	<select id="cooperation_report_count" parameterType="int" resultType="int">
	
	</select>
	
	<select id="cooperation_report_list" parameterType="map" resultType="approval.dto.CooperationReportDto">
	
	</select>
</mapper>